In [1]:
from sqlite3 import connect

import numpy as np
import pandas as pd
from numpy.ma.extras import average

In [2]:
conn = connect("..\\Data\\EnvironmentData.db")
cur = conn.cursor()

In [3]:
food_df = pd.read_csv("..\\Data\\FoodSecurity\\WFSO_july_2024.csv")
food_df

,iso3c,country,indicator_short,indicator_long,unit,year,value,flag,type,note,estimated
0,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,1999,21.5,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
1,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2000,20.9,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
2,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2001,25.5,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
3,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2002,20.0,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
4,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2003,18.8,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
...,...,...,...,...,...,...,...,...,...,...,...
21578,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2028,294175.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21579,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2028,638047.0,Estimate,"Downside prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21580,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,493551.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21581,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,290476.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21582,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,696627.0,Estimate,"Downside prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024

In [ ]:
%%sql
CREATE TABLE food_insecurity(
    iso3c TEXT,
    country TEXT,
    type TEXT,
    value REAL
);

In [4]:
for index, row in food_df.iterrows():
    cur.execute("INSERT INTO food_insecurity (iso3c, country, type, value) VALUES (?, ?, ?, ?)",
                (row["iso3c"], row["country"], row["type"], row["value"]))
conn.commit()

In [5]:
%%sql
SELECT * FROM food_insecurity;

,iso3c,country,type,value
0,AFG,Afghanistan,Historical model estimate,21.5
1,AFG,Afghanistan,Historical model estimate,20.9
2,AFG,Afghanistan,Historical model estimate,25.5
3,AFG,Afghanistan,Historical model estimate,20.0
4,AFG,Afghanistan,Historical model estimate,18.8
...,...,...,...,...
21578,ZWE,Zimbabwe,"Baseline prevalence projection, food prices pr...",294175.0
21579,ZWE,Zimbabwe,"Downside prevalence projection, food prices pr...",638047.0
21580,ZWE,Zimbabwe,"Baseline prevalence projection, food prices pr...",493551.0
21581,ZWE,Zimbabwe,"Baseline prevalence projection, food prices pr...",290476.0
21582,ZWE,Zimbabwe,"Downside prevalence projection, food prices pr...",696627.0

In [6]:
water_df = pd.read_csv("..\\Data\\WaterSecurity\\export.csv")
water_df

,Country,Water Per Capita,GDP/Capita,WB Region,GDP
0,Afghanistan,2008.00,618.332790,South Asia,2.196941e+10
1,Albania,10425.00,4868.197347,Europe & Central Asia,1.398856e+10
2,Algeria,294.20,4825.178585,Middle East & North Africa,1.993674e+11
3,Andorra,4479.00,43942.938187,Europe & Central Asia,3.382068e+09
4,Angola,5931.00,3484.599515,Sub - Saharan Africa,1.037860e+11
...,...,...,...,...,...
172,Vietnam,9461.00,1834.651595,East Asia & Pacific,1.752841e+11
173,West Bank and Gaza,179.30,2494.057016,Middle East & North Africa,1.213674e+10
174,"Yemen, Rep.",78.26,432.386104,Middle East & North Africa,1.192703e+10
175,Zambia,6464.00,1646.143835,Sub - Saharan Africa,2.813940e+10
176,Zimbabwe,1282.00,927.398658,Sub - Saharan Africa,1.532981e+10

In [ ]:
%%sql
CREATE TABLE water_security(
    country TEXT,
    wb_region TEXT,
    water_per_capita REAL
);

In [7]:
for index, row in water_df.iterrows():
    cur.execute("INSERT INTO water_security(country, wb_region, water_per_capita) VALUES (?, ?, ?)", (row["Country"], row["WB Region"], row["Water Per Capita"]))
conn.commit()

In [8]:
%%sql
SELECT * FROM water_security

                country                   wb_region  water_per_capita
0           Afghanistan                  South Asia           2008.00
1               Albania       Europe & Central Asia          10425.00
2               Algeria  Middle East & North Africa            294.20
3               Andorra       Europe & Central Asia           4479.00
4                Angola        Sub - Saharan Africa           5931.00
..                  ...                         ...               ...
172             Vietnam         East Asia & Pacific           9461.00
173  West Bank and Gaza  Middle East & North Africa            179.30
174         Yemen, Rep.  Middle East & North Africa             78.26
175              Zambia        Sub - Saharan Africa           6464.00
176            Zimbabwe        Sub - Saharan Africa           1282.00

[177 rows x 3 columns]

In [9]:
energy_pred_df = pd.read_csv("..\\Data\\EnergySecurity\\WEO2024_AnnexA_Free_Dataset_Regions.csv")
energy_pred_df["UNIT"].unique()

array(['EJ', 'Million barrels per day', 'Percentage',
       'Billion cubic metres', 'Million tonnes of coal equivalent', 'TWh',
       'PJ', 'Million tonnes', 'Mt CO2'], dtype=object)

In [ ]:
%%sql
CREATE TABLE energy_security_predictions(
    year INT,
    country TEXT,
    ej_value REAL
);

In [10]:
regions_dropped = ['North America', 'Central and South America', 'Europe', 'Africa', 'Middle East', 'Eurasia', 'Asia Pacific', 'World']

conversion_factors = {
    'EJ': 1,                              # Already in EJ
    'Million barrels per day': 0.000611714,  # For crude oil
    'Percentage': None,                   # Cannot convert percentages to EJ
    'Billion cubic metres': 0.0382,       # For natural gas
    'Million tonnes of coal equivalent': 0.0293076,  # Mtce
    'TWh': 0.0036,                        # Terawatt-hours
    'PJ': 0.001,                          # Petajoules
    'Million tonnes': None,               # Requires specific fuel/material for conversion
    'Mt CO2': None                        # Requires emission factor for conversion
}

# Function to convert to EJ
def convert_to_ej(value, unit):
    if unit in conversion_factors:
        if unit == 'Mt CO2':
            emission_factor = average([94.6, 73.3, 56.1])
            return (value * 1e6 / emission_factor) * 1e-9  # Convert Mt CO2 to EJ
        elif unit == 'Million tonnes':  # Requires specific material
            energy_content = average([24, 42, 54])
            return (value * energy_content) * 1e-9  # Convert GJ to EJ
        else:  # Handle standard unit conversions
            return value * conversion_factors[unit]
    else:
        print(unit)
        return None  # Unknown unit

energy_pred_df = energy_pred_df[(energy_pred_df["PRODUCT"] == "Total") & 
                                (energy_pred_df["FLOW"] == "Total energy supply") & 
                                (~energy_pred_df["REGION"].isin(regions_dropped))]
energy_pred_df['VALUE_IN_EJ'] = energy_pred_df.apply(
    lambda r: convert_to_ej(r['VALUE'], r['UNIT']),
    axis=1
)
energy_pred_df

,PUBLICATION,SCENARIO,CATEGORY,PRODUCT,FLOW,UNIT,REGION,YEAR,VALUE,VALUE_IN_EJ
18,World Energy Outlook 2024,Stated Policies Scenario,Energy,Total,Total energy supply,EJ,United States,2010,94.061,94.061000
19,World Energy Outlook 2024,Stated Policies Scenario,Energy,Total,Total energy supply,EJ,United States,2022,93.390,93.390000
20,World Energy Outlook 2024,Stated Policies Scenario,Energy,Total,Total energy supply,EJ,United States,2023,91.879,91.879000
21,World Energy Outlook 2024,Stated Policies Scenario,Energy,Total,Total energy supply,EJ,United States,2030,88.183,88.183000
22,World Energy Outlook 2024,Stated Policies Scenario,Energy,Total,Total energy supply,EJ,United States,2035,83.013,83.013000
...,...,...,...,...,...,...,...,...,...,...
3628,World Energy Outlook 2024,Stated Policies Scenario,CO2 total,Total,Total energy supply,Mt CO2,Southeast Asia,2035,2423.470,0.032457
3629,World Energy Outlook 2024,Stated Policies Scenario,CO2 total,Total,Total energy supply,Mt CO2,Southeast Asia,2050,2617.280,0.035053
3630,World Energy Outlook 2024,Announced Pledges Scenario,CO2 total,Total,Total energy supply,Mt CO2,Southeast Asia,2030,2057.490,0.027556
3631,World Energy Outlook 2024,Announced Pledges Scenario,CO2 total,Total,Total energy supply,Mt CO2,Southeast Asia,2035,1794.270,0.024030
3632,World Energy Outlook 2024,Announced Pledges Scenario,CO2 total,Total,Total energy supply,Mt CO2,Southeast Asia,2050,886.220,0.011869

In [11]:
for index, row in energy_pred_df.iterrows():
    cur.execute("INSERT INTO energy_security_predictions(year, country, ej_value) VALUES (?, ?, ?)", (row["YEAR"], row["REGION"], row["VALUE_IN_EJ"]))
conn.commit()

In [12]:
%%sql
SELECT * FROM energy_security_predictions;

     year         country   ej_value
0    2010   United States  94.061000
1    2022   United States  93.390000
2    2023   United States  91.879000
3    2030   United States  88.183000
4    2035   United States  83.013000
..    ...             ...        ...
139  2035  Southeast Asia   0.032457
140  2050  Southeast Asia   0.035053
141  2030  Southeast Asia   0.027556
142  2035  Southeast Asia   0.024030
143  2050  Southeast Asia   0.011869

[144 rows x 3 columns]

In [13]:
energy_df = pd.read_csv("..\\Data\\EnergySecurity\\sdgi-7-1-1-access-electricity-2023-national.csv")
energy_df.replace(-9999.0, np.nan, inplace=True)
energy_df

,OID_,ISO3,NAME_0,Total_Pop,Pop_Elec,SDG711pct,Pct_Error,Shape_Length,Shape_Area
0,1,ABW,Aruba,1.062430e+05,1.062375e+05,99.994873,0.489891,0.963634,0.015131
1,2,AFG,Afghanistan,3.892831e+07,1.200964e+07,30.850645,0.000070,57.104655,62.749587
2,3,AGO,Angola,3.270965e+07,1.914037e+07,58.515983,0.476534,73.800549,103.818655
3,4,AIA,Anguilla,1.456769e+04,1.452061e+04,99.676791,2.895000,1.318321,0.007116
4,5,ALA,Åland,NaN,NaN,NaN,NaN,42.556449,0.243777
...,...,...,...,...,...,...,...,...,...
251,252,XSP,Spratly Islands,NaN,NaN,NaN,NaN,0.170888,0.000155
252,253,YEM,Yemen,2.977028e+07,1.047700e+07,35.192810,0.186716,55.056866,38.173501
253,254,ZAF,South Africa,5.928181e+07,5.488449e+07,92.582340,0.045314,99.304499,113.084061
254,255,ZMB,Zambia,1.836105e+07,7.176415e+06,39.084992,0.124592,53.970706,62.697128
255,256,ZWE,Zimbabwe,1.486239e+07,5.592882e+06,37.631114,0.003636,28.231708,33.533526

In [ ]:
%%sql
CREATE TABLE energry_security(
    counrty TEXT,
    percent_no_electricity REAL
)

In [14]:
energy_df = energy_df[pd.notnull(energy_df["NAME_0"]) & pd.notnull(energy_df["SDG711pct"])]
for index, row in energy_df.iterrows():
    cur.execute("INSERT INTO energry_security(counrty, percent_no_electricity) VALUES (?, ?)", (row["NAME_0"], row["SDG711pct"]))
conn.commit()

In [15]:
%%sql
SELECT * FROM energry_security

          counrty  percent_no_electricity
0           Aruba               99.994873
1     Afghanistan               30.850645
2          Angola               58.515983
3        Anguilla               99.676791
4         Albania               90.438076
..            ...                     ...
222         Samoa               47.373631
223         Yemen               35.192810
224  South Africa               92.582340
225        Zambia               39.084992
226      Zimbabwe               37.631114

[227 rows x 2 columns]