In [1]:
from sqlite3 import connect
import numpy as np
import pandas as pd
from numpy.ma.extras import average
from Application.DbAPI import iso3_dict

In [2]:
conn = connect("..\\Data\\EnvironmentData.db")
cur = conn.cursor()

In [3]:
food_df = pd.read_csv("..\\Data\\FoodSecurity\\WFSO_july_2024.csv")
food_df

,iso3c,country,indicator_short,indicator_long,unit,year,value,flag,type,note,estimated
0,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,1999,21.5,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
1,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2000,20.9,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
2,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2001,25.5,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
3,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2002,20.0,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
4,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),Prevalence of severe food insecurity in the to...,%,2003,18.8,Estimate,Historical model estimate,"Modeled based on Andree, B.P.J. (2022). 'Machi...",july_2024
...,...,...,...,...,...,...,...,...,...,...,...
21578,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2028,294175.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21579,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2028,638047.0,Estimate,"Downside prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21580,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,493551.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21581,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,290476.0,Estimate,"Baseline prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024
21582,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),Financing needs to meet the short-term replace...,1000 USD,2029,696627.0,Estimate,"Downside prevalence projection, food prices pr...",Calculated using the number of severely food-i...,july_2024

In [ ]:
%%sql
CREATE TABLE food_insecurity(
    year INT,
    iso3c TEXT,
    country TEXT,
    indicator TEXT,
    value REAL
);

In [4]:
for index, row in food_df.iterrows():
    cur.execute("INSERT INTO food_insecurity (year, iso3c, country, indicator, value) VALUES (?, ?, ?, ?, ?)",
                (row["year"], row["iso3c"], row["country"], row["indicator_short"], row["value"]))
conn.commit()

In [5]:
%%sql
SELECT * FROM food_insecurity;

,year,iso3c,country,indicator,value
0,1999,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),21.5
1,2000,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),20.9
2,2001,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),25.5
3,2002,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),20.0
4,2003,AFG,Afghanistan,Prevalence of Severe Food Insecurity (%),18.8
...,...,...,...,...,...
21578,2028,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),294175.0
21579,2028,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),638047.0
21580,2029,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),493551.0
21581,2029,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),290476.0
21582,2029,ZWE,Zimbabwe,Short-Term Caloric Needs Financing (Thousands),696627.0

In [6]:
water_df = pd.read_csv("..\\Data\\WaterSecurity\\water-data.csv")
water_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.0,2023.0
2,Aruba,ABW,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,18494.091260,17999.335240,17514.787770,17034.613510,16561.430490,...,3359.952883,3270.549216,3185.306452,3102.243905,3018.561579,2937.506056,2859.260825,2784.493962,NaN,NaN
4,Afghanistan,AFG,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,5013.607452,4909.163811,4804.205448,4698.083142,...,1437.827763,1393.660703,1358.765661,1321.137770,1283.236261,1245.505317,1206.839831,1178.737859,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Kosovo,XKX,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,"Yemen, Rep.",YEM,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,371.337551,363.182244,355.261722,347.221878,338.950606,...,69.475899,67.395438,65.402203,63.461516,61.610350,59.809621,58.115621,56.542461,NaN,NaN
265,South Africa,ZAF,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,2649.627825,2571.974821,2495.187296,2420.135397,2346.854639,...,805.830210,789.795601,782.402223,777.303272,764.335544,751.830678,739.733136,728.424454,NaN,NaN
266,Zambia,ZMB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,24645.937450,23882.559750,23139.686090,22420.916650,21722.137570,...,5045.511838,4890.515565,4741.515569,4598.275819,4462.107665,4331.894644,4207.898519,4091.083850,NaN,NaN
267,Zimbabwe,ZWE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,3119.274598,3022.713001,2928.896382,2837.959021,2749.827183,...,862.933076,851.447249,839.709118,827.680331,815.460384,802.809545,789.598019,776.086410,NaN,NaN

In [7]:
water_df.columns = water_df.iloc[1]
water_df.drop(index=[0, 1], inplace=True)
water_df.reset_index(inplace=True)
water_df.drop(columns=["index"], inplace=True)
water_df

1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
0,Aruba,ABW,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,18494.091260,17999.335240,17514.787770,17034.613510,16561.430490,...,3359.952883,3270.549216,3185.306452,3102.243905,3018.561579,2937.506056,2859.260825,2784.493962,NaN,NaN
2,Afghanistan,AFG,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,5013.607452,4909.163811,4804.205448,4698.083142,...,1437.827763,1393.660703,1358.765661,1321.137770,1283.236261,1245.505317,1206.839831,1178.737859,NaN,NaN
3,Africa Western and Central,AFW,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,19040.250000,18638.697640,18238.592050,17844.419940,17453.287330,...,4664.562893,4540.333830,4420.582217,4305.995933,4198.268797,4097.068709,4000.342618,3906.890239,NaN,NaN
4,Angola,AGO,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,27916.190320,27641.283380,27365.244660,27085.456630,26801.975600,...,5449.035703,5256.092824,5071.433540,4895.015317,4728.864333,4571.339333,4424.364473,4285.826520,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,371.337551,363.182244,355.261722,347.221878,338.950606,...,69.475899,67.395438,65.402203,63.461516,61.610350,59.809621,58.115621,56.542461,NaN,NaN
263,South Africa,ZAF,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,2649.627825,2571.974821,2495.187296,2420.135397,2346.854639,...,805.830210,789.795601,782.402223,777.303272,764.335544,751.830678,739.733136,728.424454,NaN,NaN
264,Zambia,ZMB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,24645.937450,23882.559750,23139.686090,22420.916650,21722.137570,...,5045.511838,4890.515565,4741.515569,4598.275819,4462.107665,4331.894644,4207.898519,4091.083850,NaN,NaN
265,Zimbabwe,ZWE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,NaN,3119.274598,3022.713001,2928.896382,2837.959021,2749.827183,...,862.933076,851.447249,839.709118,827.680331,815.460384,802.809545,789.598019,776.086410,NaN,NaN

In [8]:
data = []
years = water_df.columns[4:]

for index, row in water_df.iterrows():
    for year in years:
        data.append({"country": row["Country Name"], 
                     "water_per_capita": row[year], 
                     "iso3c": row["Country Code"], 
                     "year": int(year)})
normalized_df = pd.DataFrame(data).dropna()
normalized_df

                           country  water_per_capita iso3c  year
65     Africa Eastern and Southern      18494.091260   AFE  1961
66     Africa Eastern and Southern      17999.335240   AFE  1962
67     Africa Eastern and Southern      17514.787770   AFE  1963
68     Africa Eastern and Southern      17034.613510   AFE  1964
69     Africa Eastern and Southern      16561.430490   AFE  1965
...                            ...               ...   ...   ...
17017                     Zimbabwe        827.680331   ZWE  2017
17018                     Zimbabwe        815.460384   ZWE  2018
17019                     Zimbabwe        802.809545   ZWE  2019
17020                     Zimbabwe        789.598019   ZWE  2020
17021                     Zimbabwe        776.086410   ZWE  2021

[13088 rows x 4 columns]

In [ ]:
%%sql
CREATE TABLE water_security(
    country TEXT,
    water_per_capita REAL,
    iso3c TEXT,
    year INT
);

In [9]:
for index, row in normalized_df.iterrows():
    cur.execute("INSERT INTO water_security(country, water_per_capita, iso3c, year) VALUES (?, ?, ?, ?)", (row["country"], row["water_per_capita"], row["iso3c"], row["year"]))
conn.commit()

In [10]:
%%sql
SELECT * FROM water_security

                           country  water_per_capita iso3c  year
0      Africa Eastern and Southern      18494.091260   AFE  1961
1      Africa Eastern and Southern      17999.335240   AFE  1962
2      Africa Eastern and Southern      17514.787770   AFE  1963
3      Africa Eastern and Southern      17034.613510   AFE  1964
4      Africa Eastern and Southern      16561.430490   AFE  1965
...                            ...               ...   ...   ...
13083                     Zimbabwe        827.680331   ZWE  2017
13084                     Zimbabwe        815.460384   ZWE  2018
13085                     Zimbabwe        802.809545   ZWE  2019
13086                     Zimbabwe        789.598019   ZWE  2020
13087                     Zimbabwe        776.086410   ZWE  2021

[13088 rows x 4 columns]

In [11]:
energy_pred_df = pd.read_csv("..\\Data\\EnergySecurity\\WEO2024_AnnexA_Free_Dataset_Regions.csv")
energy_pred_df["UNIT"].unique()

array(['EJ', 'Million barrels per day', 'Percentage',
       'Billion cubic metres', 'Million tonnes of coal equivalent', 'TWh',
       'PJ', 'Million tonnes', 'Mt CO2'], dtype=object)

In [ ]:
%%sql
CREATE TABLE energy_security_predictions(
    year INT,
    continent TEXT,
    ej_value REAL
);

In [12]:
conversion_factors = {
    'EJ': 1,                              # Already in EJ
    'Million barrels per day': 0.000611714,  # For crude oil
    'Percentage': None,                   # Cannot convert percentages to EJ
    'Billion cubic metres': 0.0382,       # For natural gas
    'Million tonnes of coal equivalent': 0.0293076,  # Mtce
    'TWh': 0.0036,                        # Terawatt-hours
    'PJ': 0.001,                          # Petajoules
    'Million tonnes': None,               # Requires specific fuel/material for conversion
    'Mt CO2': None                        # Requires emission factor for conversion
}

regions_to_drop = ["World", "European Union", "Eurasia", "Asia Pacific"]

# Function to convert to EJ
def convert_to_ej(value, unit):
    if unit in conversion_factors:
        if unit == 'Mt CO2':
            emission_factor = average([94.6, 73.3, 56.1])
            return (value * 1e6 / emission_factor) * 1e-9  # Convert Mt CO2 to EJ
        elif unit == 'Million tonnes':  # Requires specific material
            energy_content = average([24, 42, 54])
            return (value * energy_content) * 1e-9  # Convert GJ to EJ
        else:  # Handle standard unit conversions
            return value * conversion_factors[unit]
    else:
        print(unit)
        return None  # Unknown unit

energy_pred_df = energy_pred_df[(energy_pred_df["PRODUCT"] == "Total") & 
                                (energy_pred_df["FLOW"] == "Total energy supply") & 
                                (~energy_pred_df["REGION"].isin(iso3_dict)) &
                                (~energy_pred_df["REGION"].isin(regions_to_drop))]
energy_pred_df['VALUE_IN_EJ'] = energy_pred_df.apply(
    lambda r: convert_to_ej(r['VALUE'], r['UNIT']),
    axis=1
)

energy_pred_df = energy_pred_df.groupby(["REGION", "YEAR"], as_index=False)["VALUE_IN_EJ"].sum()
energy_pred_df["REGION"] = energy_pred_df["REGION"].apply(lambda x : "South America" if x == "Central and South America" else x)
energy_pred_df

            REGION  YEAR  VALUE_IN_EJ
0           Africa  2010    25.422552
1           Africa  2022    33.544124
2           Africa  2023    33.957020
3           Africa  2030    67.727513
4           Africa  2035    72.739925
5           Africa  2050    98.633902
6    South America  2010    26.647392
7    South America  2022    29.267078
8    South America  2023    29.808927
9    South America  2030    65.026779
10   South America  2035    69.925262
11   South America  2050    83.518002
12          Europe  2010    89.035671
13          Europe  2022    77.047321
14          Europe  2023    74.397848
15          Europe  2030   143.499053
16          Europe  2035   135.351157
17          Europe  2050   124.787236
18     Middle East  2010    26.166951
19     Middle East  2022    35.059905
20     Middle East  2023    35.649422
21     Middle East  2030    80.304413
22     Middle East  2035    88.492459
23     Middle East  2050   110.129838
24   North America  2010   112.665853
25   North America  2022   113.775711
26   North America  2023   112.410614
27   North America  2030   212.586391
28   North America  2035   199.954246
29   North America  2050   188.452543
30          Russia  2010    29.113550
31          Russia  2022    33.962080
32          Russia  2023    34.406660
33          Russia  2030    66.227095
34          Russia  2035    64.517865
35          Russia  2050    61.072407
36  Southeast Asia  2010    21.477603
37  Southeast Asia  2022    31.494544
38  Southeast Asia  2023    33.021780
39  Southeast Asia  2030    78.484793
40  Southeast Asia  2035    84.466488
41  Southeast Asia  2050    99.434922

In [13]:
for index, row in energy_pred_df.iterrows():
    cur.execute("INSERT INTO energy_security_predictions(year, continent, ej_value) VALUES (?, ?, ?)", (row["YEAR"], row["REGION"], row["VALUE_IN_EJ"]))
conn.commit()

In [14]:
%%sql
SELECT * FROM energy_security_predictions;

    year       continent    ej_value
0   2010          Africa   25.422552
1   2022          Africa   33.544124
2   2023          Africa   33.957020
3   2030          Africa   67.727513
4   2035          Africa   72.739925
5   2050          Africa   98.633902
6   2010   South America   26.647392
7   2022   South America   29.267078
8   2023   South America   29.808927
9   2030   South America   65.026779
10  2035   South America   69.925262
11  2050   South America   83.518002
12  2010          Europe   89.035671
13  2022          Europe   77.047321
14  2023          Europe   74.397848
15  2030          Europe  143.499053
16  2035          Europe  135.351157
17  2050          Europe  124.787236
18  2010     Middle East   26.166951
19  2022     Middle East   35.059905
20  2023     Middle East   35.649422
21  2030     Middle East   80.304413
22  2035     Middle East   88.492459
23  2050     Middle East  110.129838
24  2010   North America  112.665853
25  2022   North America  113.775711
26  2023   North America  112.410614
27  2030   North America  212.586391
28  2035   North America  199.954246
29  2050   North America  188.452543
30  2010          Russia   29.113550
31  2022          Russia   33.962080
32  2023          Russia   34.406660
33  2030          Russia   66.227095
34  2035          Russia   64.517865
35  2050          Russia   61.072407
36  2010  Southeast Asia   21.477603
37  2022  Southeast Asia   31.494544
38  2023  Southeast Asia   33.021780
39  2030  Southeast Asia   78.484793
40  2035  Southeast Asia   84.466488
41  2050  Southeast Asia   99.434922

In [15]:
energy_df = pd.read_csv("..\\Data\\EnergySecurity\\sdgi-7-1-1-access-electricity-2023-national.csv")
energy_df.replace(-9999.0, np.nan, inplace=True)
energy_df

,OID_,ISO3,NAME_0,Total_Pop,Pop_Elec,SDG711pct,Pct_Error,Shape_Length,Shape_Area
0,1,ABW,Aruba,1.062430e+05,1.062375e+05,99.994873,0.489891,0.963634,0.015131
1,2,AFG,Afghanistan,3.892831e+07,1.200964e+07,30.850645,0.000070,57.104655,62.749587
2,3,AGO,Angola,3.270965e+07,1.914037e+07,58.515983,0.476534,73.800549,103.818655
3,4,AIA,Anguilla,1.456769e+04,1.452061e+04,99.676791,2.895000,1.318321,0.007116
4,5,ALA,Åland,NaN,NaN,NaN,NaN,42.556449,0.243777
...,...,...,...,...,...,...,...,...,...
251,252,XSP,Spratly Islands,NaN,NaN,NaN,NaN,0.170888,0.000155
252,253,YEM,Yemen,2.977028e+07,1.047700e+07,35.192810,0.186716,55.056866,38.173501
253,254,ZAF,South Africa,5.928181e+07,5.488449e+07,92.582340,0.045314,99.304499,113.084061
254,255,ZMB,Zambia,1.836105e+07,7.176415e+06,39.084992,0.124592,53.970706,62.697128
255,256,ZWE,Zimbabwe,1.486239e+07,5.592882e+06,37.631114,0.003636,28.231708,33.533526

In [ ]:
%%sql
CREATE TABLE energy_security(
    country TEXT,
    percent_no_electricity REAL,
    iso3c TEXT
)

In [16]:
energy_df = energy_df[pd.notnull(energy_df["NAME_0"]) & pd.notnull(energy_df["SDG711pct"])]
for index, row in energy_df.iterrows():
    cur.execute("INSERT INTO energy_security(country, percent_no_electricity, iso3c) VALUES (?, ?, ?)", (row["NAME_0"], row["SDG711pct"], row["ISO3"]))
conn.commit()

In [17]:
%%sql
SELECT * FROM energy_security

          country  percent_no_electricity iso3c
0           Aruba               99.994873   ABW
1     Afghanistan               30.850645   AFG
2          Angola               58.515983   AGO
3        Anguilla               99.676791   AIA
4         Albania               90.438076   ALB
..            ...                     ...   ...
222         Samoa               47.373631   WSM
223         Yemen               35.192810   YEM
224  South Africa               92.582340   ZAF
225        Zambia               39.084992   ZMB
226      Zimbabwe               37.631114   ZWE

[227 rows x 3 columns]